<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>상세 페이지</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="page_tits">
            <h3>게시판 관리</h3>
            <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>상세정보</span></p>
        </div>

        <div class="content">
            <section>
                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:10%;"/><col style="width:23%;"/><col style="width:10%;"/><col style="width:23%;"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">글 유형</th>
                            <td th:text="${post.noticeYn == false ? '일반' : '공지'}"></td>

                            <th scope="row">등록일</th>
                            <td th:text="${#temporals.format( post.createdDate, 'yyyy-MM-dd HH:mm' )}"></td>
                        </tr>
                        <tr>
                            <th scope="row">제목</th>
                            <td>[[ ${post.title} ]]</td>

                            <th scope="row">조회</th>
                            <td colspan="3">[[ ${post.viewCnt} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">이름</th>
                            <td colspan="3">[[ ${post.writer} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">내용</th>
                            <td colspan="3">[[ ${post.content} ]]</td>
                        </tr>
                    </tbody>
                </table>
<!--                <p class="btn_set">
                    <a th:href="@{/post/write.do( id=${post.id} )}" class="btns btn_bdr4 btn_mid">수정</a>
                    <button type="button" onclick="deletePost();" class="btns btn_bdr1 btn_mid">삭제</button>
                    <a th:href="@{/post/list.do}" class="btns btn_bdr3 btn_mid">뒤로</a>
                </p>-->
                <p class="btn_set">
                    <button type="button" onclick="goWritePage();" class="btns btn_bdr4 btn_mid">수정</button>
                    <button type="button" onclick="deletePost();" class="btns btn_bdr1 btn_mid">삭제</button>
                    <button type="button" onclick="goListPage();" class="btns btn_bdr3 btn_mid">뒤로</button>
                </p>

                <!--/* 댓글 작성 30강에서의 추가 사항 */-->
                <div class="cm_write">
                    <fieldset>
                        <legend class="skipinfo">댓글 입력</legend>
                        <div class="cm_input">
                            <p><textarea id="content" name="content" onkeyup="countingLength(this);" cols="90" rows="4" placeholder="댓글을 입력해 주세요."></textarea></p>
                            <span><button type="button" class="btns" onclick="saveComment();">등 록</button> <i id="counter">0/300자</i></span>
                        </div>
                    </fieldset>
                </div>

                <!--/* 댓글 렌더링 영역  32걍 추가 부분*/-->
                <div class="cm_list">
                    <!--여기에 댓글이 ajax로 호출한 뒤 들어 올 내용입니다.-->
                </div>
            </section>
        </div> <!--/* .content */-->


        <!--/* 댓글 수정 popup -- 33강에서 댓글 수정을 위한 Layer popup 생성을 위한 팝업추가 시작 */-->
        <div id="commentUpdatePopup" class="popLayer">
            <h3>댓글 수정</h3>
            <div class="pop_container">
                <table class="tb tb_row tl">
                    <colgroup>
                        <col style="width:30%;" /><col style="width:70%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">작성자<span class="es">필수 입력</span></th>
                            <td><input type="text" id="modalWriter" name="modalWriter" placeholder="작성자를 입력해 주세요." /></td>
                        </tr>
                        <tr>
                            <th scope="row">내용<span class="es">필수 입력</span></th>
                            <td><textarea id="modalContent" name="modalContent" cols="90" rows="10" placeholder="수정할 내용을 입력해 주세요."></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <p class="btn_set">
                    <!--아래에 수정 버튼에 onClick 함수가 없는데도 동작하는 이유는 openCommentUpdatePopup() 함수에서 이미 만들어 주었음-->
                    <button type="button" id="commentUpdateBtn" class="btns btn_st2">수정</button>
                    <button type="button" class="btns btn_bdr2" onclick="closeCommentUpdatePopup();">취소</button>
                </p>
            </div>
            <button type="button" class="btn_close" onclick="closeCommentUpdatePopup();"><span><i class="far fa-times-circle"></i></span></button>
        </div>
        <!--/* 댓글 수정 popup -- 33강에서 댓글 수정을 위한 Layer popup 생성을 위한 팝업추가 끝 */-->

    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/

             window.onload = () => {
                findAllComment(); // 댓글 호출을 위한 Ajax 함수 호출 부분 32강 추가 부분
             }

            // 게시글 삭제
            function deletePost() {
                const id = [[ ${post.id} ]];

                if ( !confirm(id + '번 게시글을 삭제할까요?') ) {
                    return false;
                }

                <!--27강 추가 수정 부분 시작-->
                let inputHtml = '';

                new URLSearchParams(location.search).forEach((value, key) => {
                    inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
                })
                <!--27강 추가 수정 부분 끝-->

                const formHtml = `
                    <form id="deleteForm" action="/post/delete.do" method="post">
                        <!--<input type="hidden" id="id" name="id" value="${id}" />-->
                         ${inputHtml}
                    </form>
                `;
                const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                const form = doc.body.firstChild;
                document.body.append(form);
                document.getElementById('deleteForm').submit();
            }

            // 27강의 수정사항 시작임
            // 게시글 수정 페이지로 이동
            function goWritePage() {
                location.href = '/post/write.do' + location.search;
            }

            // 게시글 리스트 페이지로 이동
            function goListPage() {
                const queryString = new URLSearchParams(location.search);
                queryString.delete('id');
                location.href = '/post/list.do' + '?' + queryString.toString();
            }
            // 27강의 수정사항 끝임


             // 30 강 댓글 작성과련 함수 시작 //
             // 댓글 길이 카운팅
            function countingLength(content) {
                if (content.value.length > 300) {
                    alert('댓글을 300자 이하로 입력해 주세요.');
                    content.value = content.value.substring(0, 300);
                    content.focus();
                }
                document.getElementById('counter').innerText = content.value.length + '/' + 300;
            }


            // 댓글 저장
            function saveComment() {

                const content = document.getElementById('content');
                isValid(content, '댓글');

                const postId = [[ ${post.id} ]];
                const params = {
                    postId : postId,
                    content : content.value,
                    writer : '퇴깽이'
                }

                $.ajax({
                    url : `/posts/${postId}/comments`,
                    type : 'post',
                    contentType : 'application/json; charset=utf-8',
                    dataType : 'json',
                    data : JSON.stringify(params),
                    async : false,
                    success : function (response) {
                        console.log(response);
                        // 32강에서의 추가 부분임 시작
                        alert('저장되었습니다.');
                        content.value = ''; // 댓글 저장후 내용 클리어
                        document.getElementById('counter').innerText = '0/300자'; // 댓글 저장후 글자수 계산 클리어
                        findAllComment();
                        // 32강에서의 추가 부분임 종료
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                })
            }
            // 30 강 댓글 작성과련 함수 끝 //

            // 전체 댓글 조회 32강 추가부분임 View 페이지가 로딩될때 이 함수는 자동 호출되어지게 설계
            // 아래부분은 기본적으로 호출되어 출력되는 것을 확인해보기 위한 코딩입니다
            // 브라우저의 F12를 이용하여 확인해 보면 댓글을 확인해 볼수 있습니다
            //<!--function findAllComment() {

            //    const postId = [[ ${post.id} ]];

            //    $.ajax({
            //        url : `/posts/${postId}/comments`,
            //        type : 'get',
            //        dataType : 'json',
            //        async : false,
            //        success : function (response) {
            //            console.log(response);
            //        },
            //        error : function (request, status, error) {
            //            console.log(error)
            //         }
            //    })
            // } -->

            // 전체 댓글 조회 -32강 댓를 랜더링까지 적용한 부분
            function findAllComment() {

                const postId = [[ ${post.id} ]];

                $.ajax({
                    url : `/posts/${postId}/comments`,
                    type : 'get',
                    dataType : 'json',
                    async : false,
                    success : function (response) {

                        // 1. 조회된 데이터가 없는 경우
                        if ( !response.length ) {
                            document.querySelector('.cm_list').innerHTML = '<div class="cm_none"><p>등록된 댓글이 없습니다.</p></div>';
                            return false;
                        }

                        // 2. 렌더링 할 HTML을 저장할 변수
                        let commentHtml = '';

                        // 3. 댓글 HTML 추가
                        response.forEach(row => {
                            commentHtml += `
                                <div>
                                    <span class="writer_img"><img src="/images/default_profile.png" width="30" height="30" alt="기본 프로필 이미지"/></span>
                                    <p class="writer">
                                        <em>${row.writer}</em>
                                        <span class="date">${dayjs(row.createdDate).format('YYYY-MM-DD HH:mm')}</span>
                                    </p>
                                    <div class="cont"><div class="txt_con">${row.content}</div></div>
                                    <p class="func_btns">
                                        <!-- 33강전에 쓰던 버튼 - onclick 없음 <button type="button" class="btns"><span class="icons icon_modify">수정</span></button>-->
                                        <!--33강에서 수정된 버튼 시작 &#45;&#45; Layer Popup실행을 위한 onclick 함수가 있음-->
                                        <button type="button" onclick="openCommentUpdatePopup(${row.id});" class="btns"><span class="icons icon_modify">수정</span></button>
                                        <!--33강에서 수정된 버튼 끝 -->

                                        <!--34강 전에 쓰던 버튼 <button type="button" class="btns"><span class="icons icon_del">삭제</span></button>-->
                                        <!--34강에서 수정된 delete button 시작-->
                                        <button type="button" onclick="deleteComment(${row.id});" class="btns"><span class="icons icon_del">삭제</span></button>
                                        <!--34강에서 수정된 delete button 끝-->
                                    </p>
                                </div>
                            `;
                        })

                        // 4. class가 "cm_list"인 요소를 찾아 HTML을 렌더링
                        document.querySelector('.cm_list').innerHTML = commentHtml;
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                })
            }

            // 33걍 댓글 수정부분을 위한 Layer popup 생성을 위한 코드 시작
            // 댓글 수정 팝업 open
            function openCommentUpdatePopup(id) {

                const postId = [[ ${post.id} ]];

                $.ajax({
                    url : `/posts/${postId}/comments/${id}`,
                    type : 'get',
                    dataType : 'json',
                    async : false,
                    success : function (response) {
                        document.getElementById('modalWriter').value = response.writer;
                        document.getElementById('modalContent').value = response.content;
                        <!--아래부분은 댓글 수정을 위해 Layer popup에 onclick 속성을 생성하기 위한 코드입니다-->
                        document.getElementById('commentUpdateBtn').setAttribute('onclick', `updateComment(${id})`);
                        layerPop('commentUpdatePopup');
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                })
            }


            // 댓글 수정 팝업 close
            function closeCommentUpdatePopup() {
                document.querySelectorAll('#modalContent, #modalWriter').forEach(element => element.value = '');
                document.getElementById('commentUpdateBtn').removeAttribute('onclick');
                layerPopClose('commentUpdatePopup');
            }
            // 33걍 댓글 수정부분을 위한 Layer popup 생성을 위한 코드 끝

            // 33강의 Layer 팝업의 댓글 수정 버튼의 동작을 위한 함수 시작
            // 댓글 수정
            function updateComment(id) {

                const writer = document.getElementById('modalWriter');
                const content = document.getElementById('modalContent');
                isValid(writer, '작성자');
                isValid(content, '수정할 내용');

                const postId = [[ ${post.id} ]];
                const params = {
                    id : id,
                    postId : postId,
                    content : content.value,
                    writer : writer.value
                }

                $.ajax({
                    url : `/posts/${postId}/comments/${id}`,
                    type : 'patch',
                    contentType : 'application/json; charset=utf-8',
                    dataType : 'json',
                    data : JSON.stringify(params),
                    async : false,
                    success : function (response) {
                        alert('수정되었습니다.');
                        closeCommentUpdatePopup();
                        findAllComment();
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                })
            }
            // 33강의 Layer 팝업의 댓글 수정 버튼의 동작을 위한 함수 끝

            // 34강의 댓글 수정 버튼의 동작을 위한 함수 시작
            // 댓글 삭제
            function deleteComment(id) {

                if ( !confirm('선택하신 댓글을 삭제할까요?') ) {
                    return false;
                }

                const postId = [[ ${post.id} ]];

                $.ajax({
                    url : `/posts/${postId}/comments/${id}`,
                    type : 'delete',
                    dataType : 'json',
                    async : false,
                    success : function (response) {
                        alert('삭제되었습니다.');
                        findAllComment();
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                })
            }
            // 34강의 댓글 수정 버튼의 동작을 위한 함수 끝

        /*]]>*/

        </script>
    </th:block>
</html>